    <div class="maginBod">        

        <div class="container ">
            <div class="row text-left">
                <ol class="breadcrumb">
                    <li><a href="/">Inicio</a></li>
                    <li class="active">Busqueda</li>
                </o>
            </div>
            <div class="row">
                        <div class="col-md-4" >
                             <!-- Blog Search Well -->
                            <div class="ol-md-12">
                            <hr>
                                <h4>Buscar trámite o entidad</h4>
                                <!-- buscador -->
                                <div class="col-md-12" >
                                    <div class="col-middle">
                                        <form action="/buscar" method="get" >

                                            <input type="text" name="busqueda" placeholder="Buscar Trámite u Organización" class="" style="color:#000; width:200px" autocomplete="off" required>
                                            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                                <!-- /.input-group -->
                            </div>
                            
                            <!--div class="col-md-12">
                                <div class="col-middle breadcrumb bloq">

                                    <h4>Jerarquía organización</h4>

                                        <div class="txtIzq">
                                            <% 
                                               var cantList = 4;
                                               for(var j=0; j < jerarquia_organizacion.length; j++) {
                                                var objeto = jerarquia_organizacion[j];
                                                %>
                                            <div>
                                                <b><a href="<%=objeto.url_view_organizacion%>"> <%= objeto.nombre_organizacion %></a></b>
                                            </div>
                                            <%
                                                }
                                            %>
                                        </div>

                                </div>
                            </div-->
                        </div>

                        <div class="col-md-8 tab-content">
                            <div class="row breadcrumb">
                                <ul class="nav nav-pills ">
                                    <li role="presentation" class="btn-link">
                                        <a href="#resulBusq1" >( <%= organizacion.length %>) organizaciones encontradas</a>
                                    </li>
                                    <li role="presentation" class="btn-link">
                                        <a href="#resulBusq2">( <%= tramite.length %>) trámites encontrados</a>
                                    </li>
                                </ul>
                            </div>
                            <div role="tabpanel" class="" id="resulBusq1">
                                
                                <hr>
                                <h5 class="text-left"><u> Resultados de la búsqueda de entidades </u></h5>
                  
                                    <div class="panel-body">
                                        
                                        <!-- Comment -->
                                        <div class="text-left">
                                            <% if(organizacion.length !== 0){
                                                for(var j=0; j < organizacion.length; j++){
                                                    var objeto = organizacion[j];
                                            %>
                                            <div id="searchableProv" class="single_progress_bar">
                                                <span>
                                                    <div>
                                                        <h5> <b> <%= objeto.nombre_organizacion %> </b> - </h5>
                                                        <a href="<%=objeto.url_view_organizacion%>"> <%= objeto.nombre_organizacion %></a>
                                                    </div>
                                                </span>
                                            </div>
                                            <%      /*if(j === cantList){
                                                            break;
                                                      }*/
                                                    }
                                                } else{%>
                                            <h4>Sin resultados</h4>
                                            <% } %>
                                        </div>
                                        
                                        <!--div class="text-right">

                                            <a href="<%= organizacion.url_view_organizacion%>"> 
                                            <% 
                                                cantList =  organizacion.length %> 
                                                Vér más
                                            </a>
                                        </div-->
                                        <hr>
                                    </div>


                           </div>
                           <br>

                           <div role="tabpanel" class="" id="resulBusq2">
                                
                                <h5 class="text-left"><u> Resultados de la búsqueda de trámites </u></h5>

                                    <div class="panel-body">
                                        
                                        <!-- Comment -->
                                        <div class="text-left">
                                            <% 
                                            if(tramite.length != 0){
                                              for(var j=0; j < tramite.length; j++){
                                                var objeto = tramite[j];
                                            %>
                                            <div id="searchableProv" class="single_progress_bar">
                                                <span>
                                                    <div>
                                                        <label> <a href="<%=objeto.url_view_tramite%>"> <%= objeto.nombre_tramite %> </a> </label><br>
                                                         Cod. trámite - <%= objeto.codigo_tramite_ge %>
                                                    </div>
                                                </span>
                                                <br>
                                            </div>
                                            <%      
                                                    }
                                                } else{%>
                                            <h4>Sin resultados</h4>
                                            <% } %>
                                            
                                        </div>
                                     </div>
                                     <div class="row breadcrumb">
                                        <ul class="nav nav-pills ">
                                            <li role="presentation" class="btn-link">
                                                <a href="#resulBusq1" >( <%= organizacion.length %>) organizaciones encontradas</a>
                                            </li>
                                            <li role="presentation" class="btn-link">
                                                <a href="#resulBusq2">( <%= tramite.length %>) trámites encontrados</a>
                                            </li>
                                        </ul>
                                    </div>
                                     
                                    <hr>
                            </div>
                            <br>
                        </div>       
            </div>
        </div>
    </div>
    <br><hr>
    