
    

        <div class="container body">
            <div class="main_container">
                <!-- page content -->

                <div class="col-md-12">
                    <div class="col-middle">
                        <div class="text-left">
                            <% for(var j=0; j < organizacion.length; j++){
                                var objeto = organizacion[j];
                            %>
                            <div id="searchableProv" class="single_progress_bar">
<<<<<<< HEAD
                                <span>
                                    <div>
                                        <h5> <b> <%= objeto.nombre_organizacion %> </b> - </h5>
                                        <a href="<%=pathOrganizacion + '/'+objeto.tipo_organizacion.url_tipo_organizacion+'/'+objeto.url_organizacion%>"> <%= objeto.nombre_organizacion %></a>
                                    </div>
                                </span>
                            </div>
                        <% } %>
                    <h2>Página no encontrada</h2>
=======
                        <span>
                        <div>
                            <h2> <b> <%= objeto.nombre_organizacion %> </b> - </h2>
                            <a href="<%=pathOrganizacion + '/'+objeto.tipo_organizacion.url_tipo_organizacion+'/'+objeto.url_organizacion%>"> <%= objeto.nombre_organizacion %></a>
                        </div>
                    </span>
                    </div>
                    <% } %>
                    <h2>jerarquia_organizacion</h2>

                            <div>
                                <% for(var j=0; j < jerarquia_organizacion.length; j++) {
                                    var objeto = jerarquia_organizacion[j];
                                    %>
                                <div>
                                    <h2> <b> <%= objeto.nombre_organizacion %> </b> - </h2>
                                    <a href="<%=pathJerarquia + '/'+(objeto.tipo_organizacion.jerarquia+1).toFixed()+'/'+objeto.id_organizacion%>"> <%= objeto.nombre_organizacion %></a>
                                </div>
                                <%
                                    }
                                %>
                            </div>
>>>>>>> 5e83d6278449ccff903a7b8b23d045cfe0a06601
                    <div class="mid_center">
                    </div>
                </div>
            </div>
        </div>
                <!-- /page content -->
            </div>
            <!-- footer content -->
        </div>
        <div id="custom_notifications" class="custom-notifications dsp_none">
            <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
            </ul>
            <div class="clearfix"></div>
            <div id="notif-group" class="tabbed_notifications"></div>
        </div> 

