
    

        <div class="container body">
            <div class="main_container">
                <!-- page content -->

                <div class="col-md-12">
                    <div class="col-middle">
                        <%= %>
                        <div class="text-left">
                            <% for(var j=0; j < organizacion.length; j++){
                                var objeto = organizacion[j];
                            %>
                            <div id="searchableProv" class="single_progress_bar">

                                <span>
                                    <div>
                                        <h5> <b> <%= objeto.nombre_organizacion %> </b> - </h5>
                                        <a href="<%=pathOrganizacion + '/'+objeto.tipo_organizacion.url_tipo_organizacion+'/'+objeto.url_organizacion%>"> <%= objeto.nombre_organizacion %></a>
                                    </div>
                                </span>
                            </div>
                        <% } %>
                    <h2>Página no encontrada</h2>

                        
                    </div>
                    <% } %>
                    <h2>jerarquia_organizacion</h2>

                            <div>
                                <% for(var j=0; j < jerarquia_organizacion.length; j++) {
                                    var objeto = jerarquia_organizacion[j];
                                    %>
                                <div>
                                    <h2> <b> <%= objeto.nombre_organizacion %> </b> - </h2>
                                    <a href="<%=pathJerarquia + '/'+(objeto.tipo_organizacion.jerarquia+1).toFixed()+'/'+objeto.id_organizacion%>"> <%= objeto.nombre_organizacion %></a>
                                </div>
                                <%
                                    }
                                %>
                            </div>

                    <div class="mid_center">
                    </div>
                </div>
            </div>
        </div>
                <!-- /page content -->
            </div>
            <!-- footer content -->
        </div>
        <div id="custom_notifications" class="custom-notifications dsp_none">
            <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
            </ul>
            <div class="clearfix"></div>
            <div id="notif-group" class="tabbed_notifications"></div>
        </div> 

    <div class="maginBod">        


        <div class="container ">
            <div class="row">
                        <div class="col-md-4" >
                             <!-- Blog Search Well -->
                            <div class="ol-md-12">
                            <hr>
                                <h4>Buscar trámite o entidad</h4>
                                <!-- buscador -->
                                <div class="col-md-12" >
                                    <div class="col-middle">
                                        <form action="/" method="get" >

                                            <input type="text" name="busqueda" placeholder="Busque Tramite o Entidad" class="" style="color:#000; width:200px">
                                            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                                <!-- /.input-group -->
                            </div>
                            <br><hr>
                            <div class="col-md-12">
                                <div class="col-middle">

                                    <h4>Jerarquía organización</h4>

                                        <div class="txtIzq">
                                            
                                        </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-8 tab-content">

                            <div role="tabpanel" class="" id="seite1">
                                
                                        <h1 class="text-muted text-center"><p> Resultados de búsqueda de entidades </p></h1>
                  
                                    <div class="panel-body">
                                        
                                        <!-- Comment -->
                                        <div class="text-left">
                                            
                                        </div>
                                     </div>


                           </div>
                           <br>
                           <div role="tabpanel" class="" id="seite1">
                                
                                <h1 class="text-muted text-center"><p> Resultados de búsqueda de trámites </p></h1>

                                    <div class="panel-body">
                                        
                                        <!-- Comment -->
                                        <div class="text-left">
                                            
                                        </div>
                                     </div>
                            </div>
                            <br>
                        </div>       
            </div>
        </div>
    </div>
    <br><hr>