<div class="maginBod">        

        <div class="container ">
            <div class="row text-left">
                <ol class="breadcrumb">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/tramites">Trámites</a></li>
                    <li class="active">Ficha trámite</li>
                </o>
            </div>
            <div class="row">
                        <div class="col-md-4" >
                            <!-- Blog Search Well -->
                            <div class="ol-md-12">
                           
                                <h4>Buscar trámite o entidad</h4>
                                <!-- buscador -->
                                <div class="col-md-12" >
                                    <div class="col-middle">
                                        <form action="/buscar" method="get" >

                                            <input type="text" name="busqueda" placeholder="Buscar Trámite u Organización" class="" style="color:#000; width:200px" autocomplete="off" required>
                                            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                           
                            <br><hr>
                            
                        </div>

                        <div class="col-md-8 tab-content">
                            
                            <div class="txtIzq" >
                                
                                <div class="form-group col-md-12">                 
                                    <h5><label><%= tramites.nombre_tramite %></label></h5>
                                </div>
                                <hr>
                                <div class="form-group col-md-12">
                                  
                                  <div class="col-md-12">                     
                                     <%= tramites.descripcion_tramite %>
                                  </div>
                                </div>

                                <hr>
                                <div class="form-group col-md-12"> 
                                    <label class="col-md-2 control-label">Institución: </label>
                                    <div class="col-md-10">                 
                                        <h5><label><a href="<%=tramites.organizacion.url_view_organizacion%>" class="enlBusq"><%= tramites.organizacion.nombre_organizacion %></a></label></h5>
                                    </div>
                                </div>
                                <hr>
                                
                                <div class="form-group col-md-12">
                                    <label class="col-md-2 control-label">Dirigido A: </label>
                                    <div class="col-md-10">
                                    <% 
                                    for(var j=0; j < tramites.poblacion_objeto.length; j++) {
                                        var objeto = tramites.poblacion_objeto[j];
                                    %>                                    
                                        <%= objeto %> 
                                    <br>
                                    <% } %>
                                    </div>
                                </div>
                               
                                <hr><br>
                                <div class="form-group col-md-12">                 
                                    <h5><label>REQUISITOS PARA REALIZAR EL TRAMITE</label></h5>
                                </div>
                                <hr>
                                 <div class="form-group col-md-12">
                                    
                                <% 
                                    for(var j=0; j < tramites.requisitos.length; j++) {
                                        var objeto = tramites.requisitos[j];
                                        var papel ="Sin documento";

                                        if(parseInt(objeto.papel_original)==1){ papel ="Documento original"; }
                                        if(parseInt(objeto.papel_original)==1){ papel ="Documento en fotocopia"; }
                                        if(parseInt(objeto.papel_original)==1){ papel ="Documento en fotocopia legalizada"; }
                                        
                                    %>  
                                    
                                        <div class="col-md-12">  <%= j+1%>                                
                                            - <%= objeto.nombre_requisito %> <br>( <%= papel%> )
                                        </div>
                                        <hr>
                                        <br>
                                
                                <% }%>
                                </div>
                                
                               
                                <hr><br>
                                <div class="form-group col-md-12">                 
                                    <h5><label>INSTRUCCIONES PARA REALIZAR EL TRAMITE</label></h5>
                                </div>
                                <div class="form-group col-md-12">

                                    <% 
                                    for(var j=0; j < tramites.pasos.length; j++) {
                                        var objeto = tramites.pasos[j];
                                    %>                                    
                                    <%= j+1 %>- <%= objeto.descripcion_paso %> 
                                    <br>
                                    <% } %>

                                </div>
                           </div>
                           <br>
                            <br>
                        </div>       
            </div>
        </div>
</div>
<br><hr>