<div class="maginBod">        

        <div class="container ">
            <div class="row text-left">
                <ol class="breadcrumb">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/tramites">Trámites</a></li>
                    <li class="active">Ficha trámite</li>
                </o>
            </div>
            <div class="row">
                        <div class="col-md-4" >
                            <!-- Blog Search Well -->
                            <div class="ol-md-12">
                           
                                <h4>Buscar trámite o entidad</h4>
                                <!-- buscador -->
                                <div class="col-md-12" >
                                    <div class="col-middle">
                                        <form action="/buscar" method="get" >

                                            <input type="text" name="busqueda" placeholder="Buscar Trámite u Organización" class="" style="color:#000; width:200px" autocomplete="off" required>
                                            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                           
                            <br><hr>
                            <div class="col-md-12">
                                <div class="col-middle">
                                    <hr>
                                    <h4>Jerarquía ascendente</h4>

                                        <div class="txtIzq">
                                            <% 
                                               for(var j=0; j < tramites.jerarquia.length; j++) {
                                                var objeto = tramites.jerarquia[j];
                                                %>
                                            <div>
                                                <!--h4> <b> <%= objeto.nombre_organizacion %> </b> - </h4-->
                                                <b><a href="<%=objeto.url_organizacion%>"> <%= objeto.nombre_organizacion %></a></b>
                                            </div>
                                            <%
                                                }
                                            %>
                                        </div>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8 tab-content">
                            <hr>
                            <div class="txtIzq" id="seite1">
                                <div class="form-group col-md-12 text-center">
                                    <div class="form-group col-md-12">
                                        <img alt="..." src=".png"/>
                                    </div>
                                    <div class="form-group col-md-12">                     
                                        (logo)
                                    </div>
                                </div>
                                <div class="form-group col-md-12">                 
                                    <h5><label><%= tramites.nombre_tramite %></label></h5>
                                </div>
                                <hr>
                                <div class="form-group col-md-12">
                                  <label class="col-md-2 control-label">Descripción: </label>
                                  <div class="col-md-10">                     
                                     <%= tramites.descripcion_tramite %>
                                  </div>
                                </div>
                                <hr>
                                <div class="form-group col-md-12">
                                  <label class="col-md-2 control-label">Dirección: </label>
                                  <div class="col-md-10">                     
                                       <p>--</p>
                                  </div>
                                </div>
                                <hr>
                                <div class="form-group col-md-12">
                                    <label class="col-md-2 control-label">Dirigido A: </label>
                                    <div class="col-md-10">
                                    <% 
                                    for(var j=0; j < tramites.tramite_poblacion_objetos.length; j++) {
                                        var objeto = tramites.tramite_poblacion_objetos[j];
                                    %>                                    
                                    - <%= objeto.nombre_poblacion_obj %> - ( <%= objeto.id_poblacion_objeto %> )
                                    <br>
                                    <% } %>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group col-md-12">
                                    <label class="col-md-2 control-label">Costo y lugar de pago 1: </label>
                                    <div class="col-md-10">                     
                                        <p>--</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group col-md-12">
                                    <label class="col-md-2 control-label">Costo y lugar de pago 2: </label>
                                    <div class="col-md-10">                     
                                        <p>--</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group col-md-12">
                                    <label class="col-md-2 control-label">Vías de contacto institución: </label>
                                     <div class="col-md-10">                     
                                        <p>--</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group col-md-12">
                                    <label class="col-md-2 control-label">Horarios de atención: </label>
                                    <div class="col-md-10">                     
                                        <p>--</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group col-md-12">
                                    <label class="col-md-2 control-label">Duración del trámite: </label>
                                    <div class="col-md-10">                     
                                        <%= tramites.duracion %> 
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group col-md-12">
                                    <label class="col-md-2 control-label">Fecha de actualización: </label>
                                    <div class="col-md-10">                     
                                        <%= tramites.fecha_actualizacion %>
                                    </div>
                                </div>
                                <hr><br>
                                <div class="form-group col-md-12">                 
                                    <h5><label>REQUISITOS PARA REALIZAR EL TRAMITE</label></h5>
                                </div>
                                <hr>
                                <p>(O:Original, C:Copia, CL:Copia Legalizada)</p>
                                <div class="form-group col-md-12">
                                    
                                    <div class="col-md-5">                     
                                        <label>Requisitos</label>
                                    </div>
                                    <div class="col-md-4">                     
                                        <label>Institución</label>
                                    </div>
                                    <div class="col-md-1">                     
                                        <label>O</label>
                                    </div>
                                    <div class="col-md-1">                     
                                        <label>C</label>
                                    </div>
                                    <div class="col-md-1">                     
                                        <label>L</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    
                                    <div class="col-md-5">                     
                                        <p>--</p>
                                    </div>
                                    <div class="col-md-4">                     
                                        <p>--</p>
                                    </div>
                                    <div class="col-md-1">                     
                                        <p>--</p>
                                    </div>
                                    <div class="col-md-1">                     
                                        <p>--</p>
                                    </div>
                                    <div class="col-md-1">                     
                                        <p>--</p>
                                    </div>
                                </div>
                                <hr><br>
                                <div class="form-group col-md-12">                 
                                    <h5><label>INSTRUCCIONES PARA REALIZAR EL TRAMITE</label></h5>
                                </div>
                                <div class="form-group col-md-12">

                                    <% 
                                    for(var j=0; j < tramites.pasos.length; j++) {
                                        var objeto = tramites.pasos[j];
                                    %>                                    
                                    <%= j+1 %>- <%= objeto.descripcion_paso %> 
                                    <br>
                                    <% } %>

                                </div>
                           </div>
                           <br>
                            <br>
                        </div>       
            </div>
        </div>
</div>
<br><hr>