<div class="maginBod">        

        <div class="container ">
            <div class="row text-left">
                <ol class="breadcrumb">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/organizaciones">Organizaciones</a></li>
                    <li class="active">Ficha organización</li>
                </o>
            </div>
            <div class="row">
                        <div class="col-md-4" >
                             <!-- Blog Search Well -->
                            <div class="ol-md-12">
                            
                                <h4>Buscar trámite o entidad</h4>
                                <!-- buscador -->
                                <div class="col-md-12" >
                                    <div class="col-middle">
                                        <form action="/buscar" method="get" >

                                            <input type="text" name="busqueda" placeholder="Busque Tramite o Entidad" class="" style="color:#000; width:200px" autocomplete="off" required>
                                            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                            <br><hr>
                            <div class="col-md-12">
                                <div class="col-middle">
                                    <hr>
                                    <h4>Trámites ofrecidos </h4>
                                    <div class="text-left">
                                        <%  tramitesOfrecidos = organizacion[0].tramites;
                                            if(tramitesOfrecidos.length !== 0){
                                                for(var j=0; j < tramitesOfrecidos.length; j++){
                                                    var objeto = tramitesOfrecidos[j];
                                        %>
                                        <div id="searchableProv" class="single_progress_bar">
                                            <span>
                                                <div>
                                                    <h5> <b> <%= objeto.nombre_tramite %> </b> - </h5>
                                                        
                                                </div>
                                            </span>
                                        </div>
                                        <%      }
                                            } else{
                                        %>
                                            <p> Esta entidad no cuenta con trámites por el momento</p>
                                        <%  } %>
                                    </div>
                                    
                                </div>
                            </div>
                            <br><hr>
                            <div class="col-md-12">
                                <div class="col-middle">
                                    <hr>
                                    <h4>Está organización depende de:</h4>

                                        <div class="txtIzq">
                                            <% 
                                               for(var j=0; j < jerarquia.length; j++) {
                                                var objeto = jerarquia[j];
                                                %>
                                            <div>
                                                <b><a href="<%=objeto.url_view_organizacion%>"> <%= objeto.nombre_organizacion %></a></b>
                                            </div>
                                            <%
                                                }
                                            %>
                                        </div>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8 tab-content">
                            <hr>
                            <div class="txtIzq" id="seite1">
                                <div class="form-group col-md-12 text-center">
                                    <div class="form-group col-md-12 ">
                                        <img src="../images/sinImagen.jpg" alt="" width="40" height="50">
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                  <!--label class="col-md-4 control-label">Nombre organización:</label-->
                                  <div class="col-md-12">                     
                                    <p><%= organizacion[0].nombre_organizacion %></p>
                                  </div>
                                </div>
                                <hr>----------
                                <div class="form-group col-md-12">
                                    <!--label class="col-md-4 control-label">Sitio web:</label-->
                                    <% 
                                      if(organizacion[0].valor_campo_organizacions.length !== 0){
                                        for(var j=0; j < organizacion[0].valor_campo_organizacions.length; j++) {
                                                
                                    %>    
                                  <div class="col-md-7">            
                                    <%= organizacion[0].valor_campo_organizacions[j].tipo_campo_organizacion.tipo_campo_or %>
                                  </div>
                                  
                                  <%    }
                                      }%>
                                  
                                </div>

                                 <hr>----------
                                
                                
                                <div class="form-group col-md-12">
                                  <label class="col-md-4 control-label">Tipo de organización:</label>
                                  <div class="col-md-7">                     
                                    <%= organizacion[0].tipo_organizacion.nombre_tipo_organizacion %>
                                  </div>
                                </div>
                                <hr>
                                

                           </div>
                           <br>
                            <br>
                        </div>       
            </div>
        </div>
</div>
<br><hr>