    <div class="maginBod">        


        <div class="container ">
            <div class="row text-left">
                <ol class="breadcrumb">
                    <li><a href="/">Inicio</a></li>
                    <li class="active">Trámite</li>
                </o>
            </div>
            <div class="row">
                        <div class="col-md-4" >
                             <!-- Blog Search Well -->
                            <div class="ol-md-12">
                            <hr>
                                <h4>Buscar trámite o entidad</h4>
                                <!-- buscador -->
                                <div class="col-md-12" >
                                    <div class="col-middle">
                                        <form action="/buscar" method="get" >

                                            <input type="text" name="busqueda" placeholder="Buscar Trámite u Organización" class="" style="color:#000; width:180px" autocomplete="off" required>
                                            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                                <!-- /.input-group -->
                            </div>
                            <br><hr>
                            <div class="col-md-12">
                                <div class="col-middle breadcrumb bloq">
                                    <hr>
                                    <div class="small-text">
                                        <h5 class="bloq"><p>TRAMITES POR CATEGORÍAS</p></h5>
                                    </div>

                                    <div class="txtIzq media text-left margart media-heading ">
                                        <% if(categorias.length !== 0){
                                                for(var j=0; j < categorias.length; j++){
                                                    var objeto = categorias[j];
                                            %>
                                            <div id="searchableProv" class="">
                                                <span>
                                                    <div>
                                                        
                                                        <a href="<%= objeto.url_list_tramites %>" style="color:#fff; font-size:17px;"> <%= objeto.nombre_categoria_tramite %></a>
                                                    </div>
                                                    <br>
                                                </span>
                                            </div>
                                            <%      
                                                    }
                                                } else{%>
                                            <h4>Sin resultados</h4>
                                        <% } %>   
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">

                            <div  class="" id="seite1">
                  
                                    <div class="panel-body">
                                        <hr>
                                        <div class="txtIzq  ">
                                            <header class="">
                                                <h4 class="text-muted breadcrumb">Contenidos de trámites por categoría  </h4>
                                            </header>
                                            <hr>
                                            <% if(tramites.length !== 0){
                                                    for(var j=0; j < tramites.length; j++){
                                                        var objeto = tramites[j];
                                                %>
                                                <div id="" class="">
                                                    <span>
                                                        <div>
                                                            <h3> <u><a href="<%=objeto.url_view_tramite%>" class="enlBusq"> <%= objeto.nombre_tramite %> </a> </u></h3>
                                                            <h6> <%= objeto.descripcion_tramite %> </h6>
                                                            <h6>cod. trámite - <%= objeto.codigo_tramite_ge %></h6>
                                                        </div>
                                                        <br>
                                                    </span>
                                                </div>
                                                <%      
                                                        }
                                                  }else{ %>
                                                    <label> No se encuentran trámites registrados en esta categoría</label>
                                                <% } %>

                                        </div>
                                        
                                    </div>

                           </div>
                           <br>
                           
                            
                        </div>       
            </div>
        </div>
    </div>
    <br><hr>
    